body{
    background-color: rgb(245, 239, 239);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 3.2em;
}
h2{
    font-size: 2.5em;
}
p{
    font-size: 2em;
}

